body {
  margin: 0px;
  font-size: 100%;
  font-family: candela;
  background-color: #ffffff;
}
.websiteWidth {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-family: candela;
}

th {
  text-decoration: underline;
}

.innerLink {
  color: #2969c1;
  cursor: pointer;
}
.innerLink:hover {
  text-decoration: underline;
}