/************* COPY-PASTE TO EVERY STYL FILE - V. 29.11.2014d ****************/
/* RESPONSIVE DESIGN DEVICES */
mediaLarge = 1100px;

/* COLORS */
colorDark = #000000;
colorMiddle1 = #0066cc;
colorMiddle2 = #888888;
colorLight = #f2f2f2;
colorLight2 = #e2e2e2;

colorWhite = #ffffff;
colorGray = #999999;

colorBlue = #888888;
colorGreen = #888888;
colorYellow = #888888;
colorOrange = #ff950e;
colorRed = #888888;
colorPurple = #888888;
colorBlue = #888888;

/* OPACITIES */
seethrough = 0.8;

/* MIXIN FUNCTIONS */
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

user-select(set)
  -webkit-touch-callout set
  -webkit-user-select set
  -khtml-user-select set
  -moz-user-select set
  -ms-user-select set
  user-select set
  
/* FONT-SIZES */
fontLarge = 1.5em;
fontSmall = 0.7em;

/* ELEMENT SIZES */
rowHeight = 80px;
paddingTable = 10px;
paddingPage = 50px;

/******************************* END OF COPY-PASTE ***************************/


/* Fonts */
@font-face {
    font-family: alegreya;
    src: url('fonts/Alegreya-Regular.otf');
}
@font-face {
    font-family: alegreya;
    src: url('fonts/Alegreya-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: alegreya;
    src: url('fonts/Alegreya-Italic.otf');
    font-style: italic;
}
@font-face {
    font-family: alegreya;
    src: url('fonts/Alegreya-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}




body {
  margin: 0px;
  /*font-size: 100%;*/
  font-family: alegreya;
  background-color: colorLight;
}
h1 {
  position: relative;
  left: -40px;
  margin-top: 20px;
  margin-bottom: 25px;
  
  font-size: 4em;
  font-weight: bold;
  color: colorGray;
}


.innerLink {
  color: colorMiddle1;
  cursor: pointer;
}
.innerLink:hover {
  text-decoration: underline;
}

.button {
  background-color: colorMiddle1 !important;
  color: colorWhite !important;
  font-family: alegreya !important;
  margin: 2px;
  border-radius: 2px;
  border: 0px;
  outline: 0px;
  cursor: pointer;
}
.button:hover {
  background-color: colorGray !important;
}



::-webkit-input-placeholder {
   color: colorGray;
}

:-moz-placeholder { 
   color: colorGray;  
}

::-moz-placeholder {
   color: colorGray;
}

:-ms-input-placeholder {  
   color: colorGray;
}





/************** OLD STUFF **************/

/*
@media screen and (mediaPhoneVertical) {


}

@media screen and (min-width:480px) {


}

@media screen and (min-width:600px) {


}
@media screen and (min-width:768px) {


}
@media screen and (min-width:900px) {


}
@media screen and (min-width:1200px) {


}
@media print {

}
*/





/*
@font-face {
    font-family: candela;
    src: url('fonts/CandelaBook.otf');
}
@font-face {
    font-family: candela;
    src: url('fonts/CandelaItalic.otf');
    font-style: italic;
}
@font-face {
    font-family: candela;
    src: url('fonts/CandelaBold.otf');
    font-weight: bold;
}

@font-face {
    font-family: candela;
    src: url('fonts/CandelaBoldItalic.otf');
    font-style: italic;
    font-weight: bold;
}




@font-face {
    font-family: hattori_hanzo;
    src: url('fonts/Hattori_Hanzo.otf');
}
@font-face {
    font-family: hattori_hanzo;
    src: url('fonts/Hattori_Hanzo.otf');
    font-weight: bold;
}

@font-face {
    font-family: hattori_hanzo;
    src: url('fonts/Hattori_Hanzo_Italic.otf');
    font-style: italic;
}


@font-face {
    font-family: JosefinSansStd;
    src: url('fonts/JosefinSansStd-Light.otf');
}


@font-face {
    font-family: lacuna;
    src: url('fonts/lacuna.ttf');
}
@font-face {
    font-family: lacuna;
    src: url('fonts/lacuna-italic.ttf');
    font-style: italic;
}


@font-face {
    font-family: lekton;
    src: url('fonts/Lekton-Regular.ttf');
}
@font-face {
    font-family: lekton;
    src: url('fonts/Lekton-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: lekton;
    src: url('fonts/Lekton-Bold.ttf');
    font-weight: bold;
}






@font-face {
    font-family: cicle;
    src: url('fonts/Cicle_Semi.ttf');
}
@font-face {
    font-family: cicle;
    src: url('fonts/Cicle_Semi_Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: cicle;
    src: url('fonts/Cicle_Gordita.ttf');
    font-weight: bold;
}

@font-face {
    font-family: cicle;
    src: url('fonts/Cicle_Gordita_Italic.ttf');
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: cicle;
    src: url('fonts/Cicle_Fina.ttf');
    font-weight: lighter;
}
@font-face {
    font-family: cicle;
    src: url('fonts/Cicle_Fina_Italic.ttf');
    font-style: italic;
    font-weight: lighter;
}


*/