@font-face {
    font-family: candela;
    src: url('fonts/CandelaBook.otf');
}
@font-face {
    font-family: candela;
    src: url('fonts/CandelaItalic.otf');
    font-style: italic;
}
@font-face {
    font-family: candela;
    src: url('fonts/CandelaBold.otf');
    font-weight: bold;
}

@font-face {
    font-family: candela;
    src: url('fonts/CandelaBoldItalic.otf');
    font-style: italic;
    font-weight: bold;
}


/*

@font-face {
    font-family: hattori_hanzo;
    src: url('fonts/Hattori_Hanzo.otf');
}
@font-face {
    font-family: hattori_hanzo;
    src: url('fonts/Hattori_Hanzo.otf');
    font-weight: bold;
}

@font-face {
    font-family: hattori_hanzo;
    src: url('fonts/Hattori_Hanzo_Italic.otf');
    font-style: italic;
}


@font-face {
    font-family: JosefinSansStd;
    src: url('fonts/JosefinSansStd-Light.otf');
}


@font-face {
    font-family: lacuna;
    src: url('fonts/lacuna.ttf');
}
@font-face {
    font-family: lacuna;
    src: url('fonts/lacuna-italic.ttf');
    font-style: italic;
}


@font-face {
    font-family: lekton;
    src: url('fonts/Lekton-Regular.ttf');
}
@font-face {
    font-family: lekton;
    src: url('fonts/Lekton-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: lekton;
    src: url('fonts/Lekton-Bold.ttf');
    font-weight: bold;
}






@font-face {
    font-family: cicle;
    src: url('fonts/Cicle_Semi.ttf');
}
@font-face {
    font-family: cicle;
    src: url('fonts/Cicle_Semi_Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: cicle;
    src: url('fonts/Cicle_Gordita.ttf');
    font-weight: bold;
}

@font-face {
    font-family: cicle;
    src: url('fonts/Cicle_Gordita_Italic.ttf');
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: cicle;
    src: url('fonts/Cicle_Fina.ttf');
    font-weight: lighter;
}
@font-face {
    font-family: cicle;
    src: url('fonts/Cicle_Fina_Italic.ttf');
    font-style: italic;
    font-weight: lighter;
}


*/