.navi {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navi .naviItems li {
  cursor: pointer;
}
.navi .naviItems li p:focus {
  outline: 0;
}
body.editing .navi .naviItems li {
}
.navi .naviDropdown {
}
