/************* COPY-PASTE TO EVERY STYL FILE - V. 29.11.2014e ****************/
/* RESPONSIVE DESIGN DEVICES */
mediaLarge = 1100px;

/* COLORS */
colorDark = #000000;
colorMiddle1 = #0066cc;
colorMiddle2 = #888888;
colorLight = #f2f2f2;
colorLight2 = #e2e2e2;

colorWhite = #ffffff;
colorGray = #999999;

colorBlue = #0066cc;
colorGreen = #006633;
colorYellow = #dca000;
colorOrange = #ee950e;
colorRed = #e22222;
colorPurple = #83477f;

/* OPACITIES */
seethrough = 0.8;

/* MIXIN FUNCTIONS */
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

user-select(set)
  -webkit-touch-callout set
  -webkit-user-select set
  -khtml-user-select set
  -moz-user-select set
  -ms-user-select set
  user-select set
  
/* FONT-SIZES */
fontLarge = 1.5em;
fontSmall = 0.7em;

/* ELEMENT SIZES */
rowHeight = 80px;
paddingTable = 10px;
paddingPage = 50px;

/******************************* END OF COPY-PASTE ***************************/


.pageJoinproject {
}


#joinprojectIntro {
}


.pageJoinproject .table {
  border-collapse: separate;
  border-spacing: 10px 10px;
}
    
.pageJoinproject .tablecell {

  vertical-align: top;
  width: 100%;
  
  border: solid colorDark 1px;
  border-radius(4px);
  
  padding: 30px;
  padding-left: 60px;
  padding-bottom: 60px;
  
}

@media screen and (min-width: mediaLarge) {
  .pageJoinproject .tablerow {
    display: table-row;
  }
  .pageJoinproject .tablecell {
    width: 35%;
    display: table-cell;
  }
}


.joinprojectTableNoColors .tablecell {
  border: 0px;
  padding: 0px;
  padding-left: 60px;
  padding-right: 30px;
}



.pageJoinproject hr { 
  display: block;
  height: 1px;
  border: 0;
  border-top: solid 1px colorGray;
  margin: 3em 0;
  padding: 0;
}

#joinprojectAreas a {
  color: colorDark;
}

#joinprojectPilots {
  background-color: colorGreen;
  color: colorWhite;
}
#joinprojectSoftware {
  background-color: colorYellow;
  color: colorWhite;
}
#joinprojectDesign {
  background-color: colorOrange;
  color: colorWhite;
}

#joinprojectResearch {
  background-color: colorRed;
  color: colorWhite;
}

#joinprojectCommunications {
  background-color: colorPurple;
  color: colorWhite;
}

#joinprojectManagement {
  background-color: colorBlue;
  color: colorWhite;
}






.pageJoinproject .popupLink {
  cursor: pointer;
}



.pageJoinproject .popupLink:hover {
  background-color: black;
  color: colorWhite;
}
