.item
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
.itemList, .itemSelect, .itemListDetails, .itemView, .itemEdit, .itemRemove
  border-radius 3px
  padding 8px
  width 400px
  background-color: #eef;
  margin-bottom: 10px;
  width 400px
  
.item .txt1
  font-weight: 700;

.itemList
  color inherit
  cursor pointer
.itemList .txt1
  font-weight: 400;
  
.itemListDetails
  background-color: #222
  color: #fff
  cursor pointer

.itemSelect
  background-color: #222
  color: #fff
  cursor pointer
  
.itemView
  color: inherit
  
.itemEdit
  color: inherit
  
.itemRemove
  color: inherit
  
  
.itemAdd
  background-color: #eef;
  margin-bottom: 20px;
  padding: 8px;
  
  width: 400px;
  font-size: 100%;
