
#productItemsList {
  
}

#productItemsList td {
  overflow: auto;
  border-top: solid #aaaaaa 2px;
  border-right: solid #dddddd 1px;
}
#productItemsList tr.clickable {
  cursor: pointer;
}
#productItemsList td {
  overflow: hidden;
}

#productItemsList tr.clickable:hover {
  background-color: #eef1ff;
}


#productItemsListImage {
  width: 100px;
}

#productItemsListCategory {
  width: 180px;
  border-right: none;
}

#productItemsListManufacturer {
  width: 150px;
}

#productItemsListModel {
  width: 150px;
}

#productItemsListLifetime {
  width: 250px;
}
#productItemsListDescription {
  width: 300px;
}



.productItemsEditableView {

}
.productItemsEditableView .imageContainer, .productItemsFullView .imageContainer{
  width: 300px;
  height: 300px;
}
.productItemsEditableView .manufacturer, .productItemsFullView .manufacturer {
  font-size: 1.5em;
  min-width: 400px;
}
.productItemsEditableView .productModel, .productItemsFullView .productModel {
  font-size: 2em;  
}
.productItemsEditableView .productType, .productItemsFullView .productType {
  font-size: 0.8em;
  color: #777777;
}
.productItemsEditableView .bought, .productItemsEditableView .broke,
.productItemsFullView .bought, .productItemsFullView .broke {
  font-size: 1em;
}
.productItemsEditableView .brokeHow,
.productItemsFullView .brokeHow {
  font-size: 1em;
}

.productItemsEditableView .owner,
.productItemsFullView .owner {
}

.productItemsEditableView input, .productItemsEditableView textarea {
  background-color: #cccccc;
  border: 0px;
  box-shadow: none;
}


.productItemsEditableView .imageContainer img {
}