
#productItemsList {
  
}

#productItemsList td {
  overflow: auto;
  border-top: solid #aaaaaa 2px;
  border-right: solid #dddddd 1px;
}
#productItemsList tr {
}


#productItemsListImage {
  width: 150px;
}

#productItemsListManufacturer {
  width: 150px;
}

#productItemsListModel {
  width: 150px;
}

#productItemsListLifetime {
  width: 250px;
}

#productItemsListCategory {
  width: 200px;
  border-right: none;
}
