.items {
  font-size: 22px;
}
.itemsItem {
  
}

.itemsAdd {
  
}
.itemsList {
  border: solid transparent 1px;
}

.itemsView, .itemsEdit, .itemsRemove {
  border: solid black 1px;
  background-color: #cccccc;
  position: fixed;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 60%;
}

.itemsView {

}
.itemsEdit {

}
.itemsRemove {

}