.society
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
.societyList, .societySelect, .societyListDetails, .societyView, .societyEdit, .societyRemove
  border-radius 3px
  padding 8px
  width 400px
  background-color: #eef;
  margin-bottom: 10px;
  width 400px
  
.society .name
  font-weight: 700;

.societyList {
  cursor: pointer;
  margin: 20px 0px !important;
}
  
.societyList .name
  font-weight: 400;
  
.societyListDetails
  background-color: #222
  color: #fff
  cursor pointer

.societySelect
  background-color: #222
  color: #fff
  cursor pointer
  
.societyView
  color: inherit
  
.societyEdit
  color: inherit
  
.societyRemove
  color: inherit
  
  
.societyAdd {
  background-color: #eef;
  margin-bottom: 20px;
  padding: 8px;
  
  width: 400px;
  font-size: 100%;
}

#societiesAddPrompt {
}

