.navi {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  font-size: 20px;
  
  position: absolute;
  bottom: 5px;
  left: 45%;

}
.navi .naviItems li {
  display: inline-block;
  margin-right: 25px;
}
.navi .naviItems li p {
  cursor: pointer;
  padding: 7px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #aaaaaa;
}
.navi .naviItems li p:hover {
  outline: 0;
  color: #000000;
}
.navi .naviItems li p.selected {
  color: #000000;
}
.navi .naviItems li p:active {
  color: #aaaaaa;
}
.navi .naviItems li p:focus {
  outline: 0;
}
.navi .naviDropdown {

}
