.source
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
.sourceList, .sourceSelect, .sourceListDetails, .sourceView, .sourceEdit, .sourceRemove
  border-radius 3px
  padding 8px
  width 400px
  background-color: #eef;
  margin-bottom: 10px;
  width 400px
  
.source .name
  font-weight: 700;

.sourceList
  color inherit
  cursor pointer
.sourceList .name
  font-weight: 400;
  
.sourceListDetails
  background-color: #222
  color: #fff
  cursor pointer

.sourceSelect
  background-color: #222
  color: #fff
  cursor pointer
  
.sourceView
  color: inherit
  
.sourceEdit
  color: inherit
  
.sourceRemove
  color: inherit
  
  
.sourceAdd {
  background-color: #eef;
  margin-bottom: 20px;
  padding: 8px;
  
  width: 400px;
  font-size: 100%;
}
