/************* COPY-PASTE TO EVERY STYL FILE - V. 29.11.2014b ****************/
/* RESPONSIVE DESIGN DEVICES */
mediaLarge = 1100px;

/* COLORS */
colorDark = #000000;
colorMiddle1 = #0066cc;
colorMiddle2 = #888888;
colorLight = #f2f2f2;
colorLight2 = #e2e2e2;

colorWhite = #ffffff;
colorGray = #999999;

colorBlue = #888888;
colorGreen = #888888;
colorYellow = #888888;
colorOrange = #ff950e;
colorRed = #888888;
colorPurple = #888888;
colorBlue = #888888;


/* MIXIN FUNCTIONS */
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

user-select(set)
  -webkit-touch-callout set
  -webkit-user-select set
  -khtml-user-select set
  -moz-user-select set
  -ms-user-select set
  user-select set
  
/* FONT-SIZES */
fontLarge = 1.5em;
fontSmall = 0.7em;

/* ELEMENT SIZES */
rowHeight = 80px;
paddingTable = 10px;
paddingPage = 50px;

/******************************* END OF COPY-PASTE ***************************/



.page {
  margin-left: 0px;
  
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  background-color: colorLight;
}

@media screen and (min-width: mediaLarge) {
 .page {
    padding: 120px;
    padding-top: 45px;
    padding-bottom: 60px;
  }
}