.skitAbout {
}


/* TABLE OF CONTENTS */

.skitAboutToc {
  position: fixed;
  right: 0px;
  overflow: auto;
  
  padding: 1%;
  padding-top: 9vh;
  
  height: 100vh;
  width: 12%;
  
  background-color: #fcfcfc;
}
.skitAboutToc .title {
  margin-left: 15px;
}
.skitAboutToc ul {
  margin-left: 30px;
}
.skitAboutToc h1 {
  margin-top: 0px;
}

.skitAboutToc li {
  list-style-type: none;
  margin-left: 37px;
  color: #ddd;
  font-style: italic;
}
.skitAboutToc .skitSessionSet {
  text-decoration: none;
  //font-style: none;
  
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  
  border-radius: 3px;
  
  display: inline-block;
  
  color: #999;
  font-size: 0.9em;
}
.skitAboutToc .skitSessionSet:hover {
  text-decoration: none;
  background-color: #888;
  color: white;
}



/* BANNER + MAIN CONTENTS */
.skitAboutContents {
  padding-bottom: 80px;
  margin-right: 12%;
  min-height: 92vh;
}


/* BANNER */

.skitAboutContents .banner {
  color: white;
  min-height: 35vh;
  padding-left: 2.5%;
  padding-top: 20px;
  background-color: #444;
  background-repeat: no-repeat;
}
.skitAboutContents .banner .ui.header {
  margin-top: 8vh;
  margin-bottom: 40px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
.skitAboutContents .banner .ui.header .sub.header {
  font-size: 0.8em;
}
.skitAboutContents .banner ul {
  font-size: 1.5em;
}
.skitAboutContents .banner ul {
  padding-left: 20px;
}
.skitAboutContents .banner li {
  margin-bottom: 5px;
}

.skitAboutFront .banner {
  background-color: #fff;
  background-image: url("images/about/city1.jpg");
  background-size: cover;
  background-position: 50% 37%;
  color: #777;
}
.skitAboutCitizen .banner {
  background-color: #fff;
  background-image: url("images/about/citizen1-1.jpg");
  background-size: cover;
  background-position: 50% 82%;
  color: #777;
}

.skitAboutCompany .banner {
  background-color: #fff;
  background-image: url("images/about/entrepreneur.jpg");
  background-size: cover;
  background-position: 50% 50%;
  color: #777;
}

.skitAboutSocieties .banner {
  background-image: url("images/about/front1.jpg");
  background-size: cover;
  background-position: 50% 25%;
  text-shadow: 2px 2px black;
}


.skitAboutEconomy .banner {
  background-image: url("images/about/economy.jpg");
  background-size: cover;
  background-position: 50% 50%;
  text-shadow: 2px 2px black;
}

.skitAboutInformation .banner {
  background-image: url("images/about/information.jpg");
  background-size: cover;
  background-position: 50% 25%;
  text-shadow: 2px 2px black;
}




/* POINTS CONTENT */
.skitAbout .bigtext {
  text-align: center;
  background-color: #12687e;
  color: white;
  padding: 40px;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 1.8em;
  margin: 0px;
}
.skitAbout .sectiontitle {
  text-align: center;
  background-color: #555;
  color: white;
  font-size: 2.2em;
  padding: 50px;
  margin: 0px;
}

.skitAbout .points {
  text-align: center;
  background-color: #12687e;
  color: white;
}
.skitAbout .points ul {
  margin: 0px;
  padding: 40px;
  font-size: 1.8em;
  //text-transform: uppercase;
  //color: #12687e;
}
.skitAbout .points li {
  list-style-type: none;
  margin-bottom: 5px;
}

/* FLOW CHART */
.skitAbout .flowchart {
  text-align: center;
  margin: 0px;
  background-color: #fafafa;
  padding-top: 30px;
  padding-bottom: 60px;
}
.skitAbout .flowchart img {
  width: 60%;
}

.skitAboutCitizen .flowchart img {
  width: 90%;
}

/* TEXTUAL PARAGRAPHS */

.skitAbout .paragraphs {
  padding-top: 50px;
  padding-left: 2.5%;
  padding-bottom: 50px;
}
.skitAbout .paragraphs p {
  font-size: 1.1em;
  text-align: justify;
}
.skitAbout .paragraphs p.first {
  font-size: 1.4em;
}
.skitAbout .paragraphs p.first strong {
  font-weight: 400;
}

/* EXPLANATIONS */
.skitAbout .explanations {
  padding-top: 35px;
  padding-bottom: 30px;
  margin-bottom: 0px;
  background-color: #777;
  color: white;
  margin-bottom: -100px;
}
.skitAbout .explanations h2 {
  text-align: center;
  font-size: 2.0em;
  margin-bottom: 18px;
}
.skitAbout .explanations .item {
  margin-bottom: 0px;
  padding-left: 8.75%;
  padding-right: 8.75%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid #888 1px;
}
.skitAbout .explanations .image {
  margin-bottom: 0px;
  display: inline-block;
  width: 22%;
  height: 100%;
  vertical-align: top;
}
.skitAbout .explanations .text {
  margin-bottom: 0px;
  display: inline-block;
  text-align: justify;
  width: 73%;
}


/* NEXT */
.skitAboutNext {
  border-top: solid #888 1px;
  margin-top: 0px;
  width: 88%;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #777;
}
.skitAboutNext .button {
  margin-top: 0px;
  display: inline-block;
}
