/* General */
/*#login-buttons {
}
.login-link-and-dropdown-list {

}
.login-link-and-dropdown-list a {

}
.login-link-and-dropdown-list label {

}
.login-link-and-dropdown-list .login-button {
  color: red;
}
#login-buttons-open-change-password {
  background-color: red;
}

/* Sign in form */
/*
.login-form-sign-in {

}

/* Create account form */
/*
.login-form-create-account {

}

*/