.header {
  height: 150px;
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: center center;
  margin-bottom: 15px;
  
  position: relative;
}
.headerHome {
  height: 480px;
}
.header #logo {
  margin-left: 50px;
  margin-top: 20px;
  height: 80%;
}
.headerHome #logo {
}