.country
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
.countryList, .countrySelect, .countryListDetails, .countryView, .countryEdit, .countryRemove
  border-radius 3px
  padding 8px
  width 400px
  background-color: #eef;
  margin-bottom: 10px;
  width 400px
  
.country .name
  font-weight: 700;

.countryList
  color inherit
  cursor pointer
.countryList .name
  font-weight: 400;
  
.countryListDetails
  background-color: #222
  color: #fff
  cursor pointer

.countrySelect
  background-color: #222
  color: #fff
  cursor pointer
  
.countryView
  color: inherit
  
.countryEdit
  color: inherit
  
.countryRemove
  color: inherit
  
  
.countryAdd {
  background-color: #eef;
  margin-bottom: 20px;
  padding: 8px;
  
  width: 400px;
  font-size: 100%;
}
