<template name="chat">

<h2>Chat</h2>
<div class="text">

  {{> chatWriteMessage topicId=topicId}}
  {{> chatMessages topicId=topicId}}
  
</div>

</template>


<template name="chatWriteMessage">

<form class="chatAddMessage">
<table>
  <tr><td><input class="username" type="text" name="username"  placeholder="Name" /></td></tr>
  <tr><td><textarea class="content" name="content" rows="5" cols="50" wrap="hard"></textarea></td></tr>
  <tr><td><button class="button send" type="submit">Send</button></td></tr>
</table>
</form>

</template>


<template name="chatMessages">
 <ul>
  {{#each messages}}
   <li>{{username}}: {{content}} {{createdAt}} {{!createdBy}}</li>
  {{/each}}
</ul>
</template>
