html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: white;
}

.societykitLogo {
  height: 44px;
  padding: 4px;
  float: right;
}
#societykitOpenMenu {
  cursor: pointer;
  float: right;
}
#societykitOpenMenu .logged {
  padding: 0px;
  margin: 0px;
  margin-top: 1px;
  font-size: 0.75em;
  text-align: right;
}
#societykitOpenMenu:hover {
  opacity: 0.7;
}



#societykitFront {
  position: absolute;
  background-image: url("images/frontpage.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#societykitFront .content {
  margin-left: 20vw;
  margin-top: 30vh;
  width: 50vw;
}
#societykitFront img {
  width: 100px;
  display: block;
  margin-bottom: 15px;
}
#societykitFront .explore {
  display: inline-block;
}




.mainMenu {
  background-color: white;
  padding: 30px;
}

.mainMenu .description {
  font-size: 1.5em;
}
.mainMenu .bottom {
  position: absolute;
  bottom: 0px;
}